*{
    margin: 0;
    padding: 0;
}
button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
.on {
    color: #ffcc00;
}
.off {
    color: #a9a9a9;
}
input[type="radio"] {
    visibility: hidden;
}
p{
    margin: 0;
}
.bgImg{
    background-image: url(../../../public/bg2.jpg);
    background-position: center;
    background-size: cover;
}
.height{
    height: 434px;
}
.reviewBox{
    height: 100%;
    overflow-y: scroll;
}